@import "carousel.css";

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    margin: 0 0.75rem;
}

.text1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    max-width: 390px;
    margin-bottom: 80px;
    text-align: center;
}

.text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
@media (min-width: 850px) {
    .text1 {
        font-size: 32px;
        max-width: 1224px;
    }
    .text2 {
        font-size: 32px;
        margin-bottom: 80px;
    }
}
